.fw-bolder {
  font-weight: 600 !important;
}
.sr-only {
  overflow: hidden;
}
.table-buttons {
  padding: 0.5rem 0.7rem !important;
}

.none {
  display: none;
}

.col-sticky {
  position: sticky;
  right: 0;
  top: 0;
}
td.col-sticky {
  background-color: white;
}
.col-sticky .fas,
.col-sticky .fa {
  pointer-events: none;
}

.rating {
  display: inline-flex;
  margin-top: -10px;
  flex-direction: row-reverse;
}

.rating > input {
  display: none;
}

.rating > label {
  position: relative;
  width: 50px;
  font-size: 50px;
  color: #7367f0;
  cursor: pointer;
}

.rating > label::before {
  content: "\2605";
  position: absolute;
  opacity: 0;
}

.rating > label:hover:before,
.rating > label:hover ~ label:before {
  opacity: 1 !important;
}

.rating > input:checked ~ label:before {
  opacity: 1;
}

.rating:hover > input:checked ~ label:before {
  opacity: 0.4;
}

.table-bordered>:not(caption)>* {
  border-width: 0;
}

.desactivado{
  background-color:rgb(224, 148, 148);
  color: aliceblue;
}
.desactivado td{
  position: relative;
}