{% extends 'base.html' %} {% block title %} Proveedores {% endblock title %} {%
block content %} {% if error %}
<script>
  (function abrirmodal() {
    $(function () {
      // abrir modal
      $("#modal_crear").modal("show");
    });
  })();
</script>
{% endif %}

{% if erroreditar  %}
<script>
  (function abrirmodal2() {
    $(function () {
      // abrir modal
      $("#modal_editar-{{id}}").appendTo("body").modal("show");
      
    });
  })();
</script>
{% endif %}

<main class="card">
  <div class="card-body border-bottom">
    <h2>Proveedores</h2>
    <div class="row gap-row-5">
      <div class="col-sm-12 col-md-6">
        <label class="form-label" for="searchProveedores"></label>
        <input
          type="text"
          class="form-control w-50"
          placeholder="Buscar Proveedor"
          id="searchProveedores"
        />
      </div>
      
       <!-- Boton y Modal Crear Proveedor -->

       {% include "/modules/modals/crear_proveedor.html" %}

       <!-- Fin Boton y Modal Crear Proveedor  -->

    </div>
  </div>

  {% with messages = get_flashed_messages() %} {% if messages %} {% for message
    in messages %}
    <div class="alert alert-success text-center alert-dismissible py-1 fade show" role="alert">
      <strong>{{ message }}</strong>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    {% endfor %} {% endif %} {% endwith %}

    <div class="card-dataTable table-responsive" style="padding: 5px">
    <table class="table table-bordered table-hover" id= "tablaproveedores">
      <thead>
        <tr>
          <th>ID Proveedor</th>
          <th>Nombre</th>
          <th>Correo</th>
          <th>Dirección</th>
          <th>Teléfono</th>
          <th>País</th>
          <th class="col-sticky">Acciones</th>
        </tr>
      </thead>
      <tbody class="js-table-body" id="tablaproveedor">
        {% for proveedor in proveedores %}
        <tr>
          <td>{{proveedor.0}}</td>
          <td>{{proveedor.1}}</td>
          <td>{{proveedor.2}}</td>
          <td>{{proveedor.3}}</td>
          <td>{{proveedor.4}}</td>
          <td>{{proveedor.5}}</td>
          <td class="py-1 px-2 col-sticky js-sticky" style="min-width: 83px;">

            
                <!-- Boton y modal Editar Proveedor -->

                {% include "/modules/modals/editar_proveedor.html" %}

                <!-- Fin Modal Editar -->

                &nbsp;

                <!-- Boton y modal Eliminar Proveedor -->

                {% include "/modules/modals/eliminar_proveedor.html" %}

                <!-- Fin Modal Eliminar -->
                &nbsp;

            
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>


  {% if erroreditar %}
  <script type="text/javascript">
      $("#id").val("{{id2}}");
      $("#nombre").val("{{nombre2}}");
      $("#correo").val("{{correo2}}");
      $("#telefono").val("{{telefono2}}");
      $("#direccion").val("{{direccion2}}");
      $("#menupais").val("{{pais2}}");
  </script>
  {% endif %}
  <script>
    $(document).ready(function () {
      $("#tablaproveedores").DataTable({
        dom: "lrtip",
        language: {
          url: "//cdn.datatables.net/plug-ins/1.10.19/i18n/Spanish.json",
        },
        order: [[0, "desc"]],
        "columnDefs": [
          { "searchable": false, "targets": 6 }
        ],
      });

      var table = $('#tablaproveedores').DataTable();
 
        // #myInput is a <input type="text"> element
        $('#searchProveedores').on( 'keyup', function () {
            table.search( this.value ).draw();
        } );
    });
  </script>
</main>

<script
  src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-kQtW33rZJAHjgefvhyyzcGF3C5TFyBQBA13V1RKPf4uH+bwyzQxZ6CmMZHmNBEfJ"
  crossorigin="anonymous"
></script>
<script src="./../../static/js/validacionCrearProveedor.js"></script>
<!-- <script>
  $("#modal_crear").on("show.bs.modal", function (event) {
    $("#form_crear").trigger("reset");
  });
</script> -->
<script>
  $("#modal_editar-{{id}}").on("show.bs.modal", function (event) {
    $("#form_editar").trigger("reset");
  });
</script>
{% endblock content %}
