{% extends 'base.html' %}
{% block title %}
Proveedores
{% endblock title %}
{% block content %}


{% if error %}
<script>
  (function abrirmodal() {
    $(function () {
      // abrir modal
      $("#modal_crear").modal("show");
    });
  })();
</script>
{% endif %}


<div class="card">
  <div class="card-body border-bottom">
    <h2 class="mb-2">Proveedores</h2>

    <!-- Seccion de filtros -->
    <main class="">
      <div class="table-responsive">
        <div class="row">
          <div class="col-7 d-flex flex-wrap align-items-center mb-1">
            <input aria-label="Busqueda de usuarios" class="form-control col-4 mr-1" type="text" placeholder="Busqueda"
              aria-controls="Buscar">
            <button class="btn btn-primary" id="buscar">Buscar</button>
            <div class="w-100 mt-1">
              <input type="radio" name="tipo_b" value="1" checked>
              Codígo
              <input class="ml-1" type="radio" name="tipo_b" value="2">
              Nombre
            </div>
          </div>
          <div class="col-5 d-flex justify-content-end">
            <div>
              <label for="">Crear Proveedores</label>
              <button class="btn btn-primary" id="crear" data-toggle="modal" data-target="#modal_crear">
                <span class="fa fa-plus"></span>
              </button>
            </div>
          </div>
        </div>
        <table class="table table-hover">
          <thead>
            <tr>
              <th>ID Proveedor</th>
              <th>Nombre</th>
              <th>Correo</th>
              <th>Teléfono</th>
              <th>Dirección</th>
              <th>País</th>
              <th>Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>001</td>
              <td>Sonda</td>
              <td>sonda@sonda.com</td>
              <td>6465565</td>
              <td>Bogota</td>
              <td>Colombia</td>
              <td class="py-1 px-2">
                <button class="btn btn-primary table-buttons" id="editar" data-toggle="modal"
                  data-target="#modal_editar">
                  <span class="fas fa-edit"></span>
                </button>
                <button class="btn btn-danger table-buttons" id="eliminar" data-toggle="modal"
                  data-target="#modal_eliminar">
                  <span class="fas fa-trash-alt"></span>
                </button>
              </td>
            </tr>
            <tr>
              <td>002</td>
              <td>Sonda</td>
              <td>sonda@sonda.com</td>
              <td>6465565</td>
              <td>Cali</td>
              <td>Colombia</td>
              <td class="py-1 px-2">
                <button class="btn btn-primary table-buttons" id="editar" data-toggle="modal"
                  data-target="#modal_editar">
                  <span class="fas fa-edit"></span>
                </button>
                <button class="btn btn-danger table-buttons" id="eliminar" data-toggle="modal"
                  data-target="#modal_eliminar">
                  <span class="fas fa-trash-alt"></span>
                </button>
              </td>
            </tr>
            <tr>
              <td>003</td>
              <td>Sonda</td>
              <td>sonda@sonda.com</td>
              <td>6465565</td>
              <td>Cartagena</td>
              <td>Colombia</td>
              <td class="py-1 px-2">
                <button class="btn btn-primary table-buttons" id="editar" data-toggle="modal"
                  data-target="#modal_editar">
                  <span class="fas fa-edit"></span>
                </button>
                <button class="btn btn-danger table-buttons" id="eliminar" data-toggle="modal"
                  data-target="#modal_eliminar">
                  <span class="fas fa-trash-alt"></span>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </main>
  </div>
</div>
<!-- / Inicio Modal Crear -->
<div class="modal fade" id="modal_crear" nombre="modal_crear" tabindex="-1" role="dialog" aria-labelledby="titulo_crear" aria-hidden="true">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 id="titulo_crear">Crear Proveedor</h5>
        <button class="btn-close" data-dismiss="modal" aria-label="Cerrar"></button>
      </div>
      <div class="modal-body">
        <form id="form_crear" method= "POST" action="{{url_for('crearproveedor')}}" class="row g-3 needs-validation" novalidate >
          <div class="">

            <div class="col-12 my-1">
              <label for="">ID Proveedor*</label>
              <input type="text" class="form-control" id="id" name="id" placeholder="ID Proveedor" required>
              <div class="invalid-feedback">
                Por favor digite el ID del proveedor
              </div>
            </div>

            <div id="errorIdproveedor" style="color: red">
              {% if data1 %} {{data1}} {% endif %}
            </div>

            <div class="col-12  mb-1">
              <label for="">Nombre*</label>
              <input type="text" class="form-control" id="nombre" name="nombre" placeholder="Nombre" required>
              <div class="invalid-feedback">
                Por favor digite un Nombre
              </div>
            </div>
            
            <div id="errorNombres" style="color: red">
              {% if data2 %} {{data2}} {% endif %}
            </div>

            <div class="col-12 mb-1">
              <label for="">Correo*</label>
              <input type="email" class="form-control" id="correo" name="correo" placeholder="Email" required email>
              <div class="invalid-feedback">
                Por favor digite un correo válido
              </div>
            </div> 
  
            <div id="errorcorreo" style="color: red">
              {% if data3 %} {{data3}} {% endif %}
            </div>

            <div class="col-12 mb-1">
              <label for="">Teléfono*</label>
              <input type="text" class="form-control" id="telefono" name="telefono" placeholder="Teléfono" required number>
              <div class="invalid-feedback">
                Por favor digite un teléfono 
              </div>
            </div>

            <div id="errortelefono" style="color: red">
              {% if data4 %} {{data4}} {% endif %}
            </div>

            <div class="col-12 mb-1">
              <label for="">Dirección*</label>
              <input type="text" class="form-control" id="direccion" name="direccion" placeholder="Dirección" required>
              <div class="invalid-feedback">
                Por favor digite la dirección 
              </div>
            </div>

            <div id="errordireccion" style="color: red">
              {% if data5 %} {{data5}} {% endif %}
            </div>

            <div class="col-12 mb-1">
              <label for="">Pais*</label>
              <input type="text" class="form-control" id="pais" name="pais" placeholder="Pais" required>
              <div class="invalid-feedback">
                Por favor digite el país
              </div>
            </div>

            <div id="errorpais" style="color: red">
              {% if data6 %} {{data6}} {% endif %}
            </div>

            </div>

            <div class="modal-footer">
              <button class="btn btn-primary" type="submit">
                Crear
              </button>
            </div>
          </div>
        </form>
        
        {% if error %}
        <script type="text/javascript">
          $("#id").val("{{select}}");
        </script>
        {% endif %}

      </div>
    </div>
  </div>
</div>
<!-- / Inicio Modal Editar -->

<div class="modal fade" id="modal_editar" tabindex="-1" role="dialog" aria-labelledby="titulo_editar"
  aria-hidden="true">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 id="titulo_editar">Editar Proveedor</h5>
        <button class="btn-close" data-dismiss="modal" aria-label="Cerrar"></button>
      </div>
      <div class="modal-body">
        <form id="form_editar" method= "POST" class="row g-3 needs-validation" novalidate >
          <div class="form-group">
            <div class="col-12 my-1">
              <label for="">ID Proveedor*</label>
              <input type="text" class="form-control" id="id" placeholder="ID Proveedor" required>
              <div class="invalid-feedback">
                Por favor digite el ID del proveedor
              </div>
            </div>

            <div class="col-12  mb-1">
              <label for="">Nombre*</label>
              <input type="text" class="form-control" id="nombre" placeholder="Nombre" required>
              <div class="invalid-feedback">
                Por favor digite un Nombre
              </div>
            </div>

            <div class="col-12 mb-1">
              <label for="">Correo*</label>
              <input type="email" class="form-control" id="correo" placeholder="Email" required email>
              <div class="invalid-feedback">
                Por favor digite un correo válido
              </div>
            </div> 

            <div class="col-12 mb-1">
              <label for="">Teléfono*</label>
              <input type="text" class="form-control" id="telefono" placeholder="Teléfono" required number>
              <div class="invalid-feedback">
                Por favor digite un teléfono 
              </div>
            </div>

            <div class="col-12 mb-1">
              <label for="">Dirección*</label>
              <input type="text" class="form-control" id="direccion" placeholder="Dirección" required>
              <div class="invalid-feedback">
                Por favor digite la dirección 
              </div>
            </div>

            <div class="col-12 mb-1">
              <label for="">Pais*</label>
              <input type="text" class="form-control" id="pais" placeholder="Pais" required>
              <div class="invalid-feedback">
                Por favor digite el país
              </div>
            </div>

            <div class="modal-footer">
              <button class="btn btn-primary" type="submit">
                Editar
              </button>
            </div>
          </div>
       </form>
      </div>
     </div>
    
  </div>
</div>

<div class="modal fade" id="modal_eliminar" tabindex="-1" role="dialog" aria-labelledby="titulo_eliminar"
  aria-hidden="true">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 id="titulo_eliminar">Eliminar Proveedor</h5>
        <button class="btn-close" data-dismiss="modal" aria-label="Cerrar"></button>
      </div>
      <div class="modal-body">
        <div>
          <div>
            <label for="">¿Está seguro que desea eliminar el proveedor?</label>
          </div>

          <div class="modal-footer">
            <button class="btn btn-primary" type="button" id="si">
              SI
            </button>
            <button class="btn btn-secondary" type="button" id="no" class="close" data-dismiss="modal"
              aria-label="Cerrar">
              NO
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
  integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"
  integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"
  integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
<script src="./../../static/js/validacionCrearUsuario.js"></script>
<script>
  $('#modal_crear').on('show.bs.modal', function (event) {
    $('#form_crear').trigger("reset");
  });
</script>
{% endblock content %}
