{% extends 'base.html' %}

{% block title %}
Usuarios
{% endblock title %}

{% block content %}

{% if error %}
<script>
  (function abrirmodal() {
    $(function () {
      // abrir modal
      $("#modal_crear").modal("show");
    });
  })();
</script>
{% endif %}

<main class="container card">
  <div class="table-responsive">
    <h2 class="my-2">Usuarios</h2>
    <div class="row">
      <div class="col-7 d-flex flex-wrap align-items-center mb-1">
        <input aria-label="Busqueda de usuarios" class="form-control col-4 mr-1" type="text" placeholder="Busqueda"
          aria-controls="Buscar">
        <button class="btn btn-primary" id="buscar">Buscar</button>
        <div class="w-100 mt-1">
          <input aria-label="usuario" type="radio" name="tipo_b" value="1" checked>
          <!-- Todos
          {% for usuario in usuarios %}
          <option value="{{ usuario.0 }}">{{usuario.1}}</option>
          {% endfor %} 
          <input class="ml-1" aria-label="nombre" type="radio" name="tipo_b" value="2">-->
          Usuario
          <input class="ml-1" aria-label="nombre" type="radio" name="tipo_b" value="3">
          Nombre
        </div>
      </div>

      <div class="col-5 d-flex justify-content-end">
        <div>
          <label for="">Crear Usuario</label>
          <button class="btn btn-primary" id="crear" data-toggle="modal" data-target="#modal_crear">
            <span class="fa fa-user-plus"></span>
          </button>
        </div>
      </div>
    </div>


    <table class="table table-hover">
      <thead>
        <tr>
          <th>Nombre usuario</th>
          <th>Nombres</th>
          <th>Apellidos</th>
          <th>Cedula</th>
          <th>Correo</th>
          <th>Rol</th>
          <th>Fecha creación</th>
          <th>Fecha de vencimiento</th>
          <th colspan="2">Acciones</th>
        </tr>
      </thead>

      <tbody>
        {% for usuario in usuarios %}
        <tr>
          <td>{{usuario.0}}</td>
          <td>{{usuario.1}}</td>
          <td>{{usuario.2}}</td>
          <td>{{usuario.3}}</td>
          <td>{{usuario.4}}</td>
          <td>{{usuario.7}}</td>
          <td>{{usuario.5}}</td>
          <td>{{usuario.6}}</td>
          <td class="py-1 px-2" text-align="center">
            {% if usuario.6 == None %}
            <button class="btn btn-primary table-buttons" id="editar" data-bs-toggle="modal"
              data-bs-target="#modal_editar-{{usuario.0}}">
              <span class="fas fa-edit"></span>
            </button>
            

            <!-- Inicio Modal Editar -->
            <div class="modal fade" id="modal_editar-{{usuario.0}}" tabindex="-1" role="dialog"
              aria-labelledby="titulo_crear" aria-hidden="true">
              <div class="modal-dialog modal-sm" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="titulo_crear">Editar Usuario</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <form id="form_crear" action="{{url_for('users')}}" class="row g-3 needs-validation" method="POST"
                      novalidate>
                      <div class="form-group">
                        <label for="id">Nombre de usuario*</label>
                        <input type="text" class="form-control" id="id" placeholder="Nombre de usuario" required
                          value="{{usuario.0}}" Disabled disabled />
                        <input type="hidden" name="oculto" value="editar" />
                        <div class="invalid-feedback">
                          Por favor ingrese el nombre de usuario.
                        </div>

                        <label for="nombres">Nombres*</label>
                        <input type="text" class="form-control" id="nombres" placeholder="Ingrese los nombres" required
                          value="{{usuario.1}}" />
                        <div class="invalid-feedback">
                          Por favor ingrese los nombres.
                        </div>

                        <label for="apellidos">Apellidos*</label>
                        <input type="text" class="form-control" id="apellidos" placeholder="Ingrese los apellidos"
                          required value="{{usuario.2}}" />
                        <div class="invalid-feedback">
                          Por favor ingrese los apellidos.
                        </div>

                        <label for="cedula">Documento*</label>
                        <input type="number" class="form-control" id="cedula"
                          placeholder="Ingrese el número del documento" required number value="{{usuario.3}}" />
                        <div class="invalid-feedback">
                          Por favor ingrese un número de documento solo de números.
                        </div>

                        <label for="correo">Correo*</label>
                        <input type="email" class="form-control" id="correo" placeholder="Ingrese el correo electrónico"
                          required email value="{{usuario.4}}" />
                        <div class="invalid-feedback">
                          Por favor ingrese un correo electrónico valido.
                        </div>

                        <label for="rol_crear" class="form-label">Rol*</label>
                        <select class="form-select" id="rol_crear" required value="{{usuario.8}}">
                          <option value="3">Usuario final</option>
                          {% if session.rol == "SuperAdministrador" %}
                          <option class="select-editar-admin" value="2">Administrador</option>
                          <option class="select-editar-super" value="1">Super Administrador</option>
                          {% endif %}
                        </select>
                        <div class="invalid-feedback">
                          Por favor ingrese el rol.
                        </div>
                      </div>

                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                          <!-- <button class="btn btn-secondary" type="button" id="no"> -->
                          Cancelar
                        </button>
                        <button class="btn btn-primary" type="submit">
                          Editar usuario
                        </button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
            <!-- /Fin Modal Editar -->

            &nbsp;
            <a href="{{usuario.0}}" class="btn btn-danger table-buttons" data-bs-toggle="modal"
              data-bs-target="#modal_eliminar-{{usuario.0}}">
              <span><i class="fa fa-trash"></i></span>
            </a>

            <!-- /Inicio Modal Eliminar -->
            <div class=" modal fade" id="modal_eliminar-{{usuario.0}}" tabindex="-1" role="dialog"
              aria-labelledby="titulo_eliminar" aria-hidden="true">
              <div class="modal-dialog modal-sm" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 id="titulo_eliminar">Eliminar Usuario</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>

                  </div>
                  <div class="modal-body">
                    <form id="form_crear" action="{{url_for('users')}}" class="row g-3 needs-validation" method="POST"
                      novalidate>
                      <input type="hidden" name="oculto" value="eliminar" />
                      <input type="hidden" name="ocultoborrar" value="{{usuario.0}}">
                      <div>
                        <div>
                          <label for="">¿Está seguro que desea eliminar el usuario?</label>
                        </div>

                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                            <!-- <button class="btn btn-secondary" type="button" id="no"> -->
                            Cancelar
                          </button>
                          <button class="btn btn-primary" type="submit" id="si">
                            Eliminar usuario
                          </button>
                        </div>
                      </div>
                  </div>
                  </form>
                </div>
              </div>
            </div>
            <!-- /Fin Modal Eliminar -->

            <!-- &nbsp;
            <a href=" {{usuario.0}}" class="btn btn-info table-buttons" data-bs-toggle="modal"
              data-bs-target="#modalDelete-{{usuario.0}}">
              <span><i class="fas fa-award"></i></i></span>
            </a> -->
            {% endif %}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  <!-- / Inicio Modal Crear -->
  <div class="modal fade" id="modal_crear" nombre="modal_crear" tabindex="-1" role="dialog"
    aria-labelledby="titulo_crear" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="titulo_crear">Crear Usuario</h5>
          <button type="button" class="btn-close" data-dismiss="modal" aria-label="Cerrar"></button>
        </div>
        <div class="modal-body">
          <form id="form_crear" action="{{url_for('users')}}" method="POST" novalidate>
            <div class="form-group">
              <label class="form-label" for="id">Nombre de usuario*</label>
              <input type="text" class="form-control" id="usuario" name="usuario" placeholder="Nombre de usuario"
                required>

              <input type="hidden" name="oculto" value="crear" />

              <div class="invalid-feedback">
                Por favor ingrese el nombre de usuario.
              </div>

              <div id="errorusuario" style="color: red">
                {% if data1 %} {{data1}} {% endif %}
              </div>

              <label for="nombres">Nombres*</label>
              <input type="text" class="form-control" id="nombres" name="nombres" placeholder="Ingrese los nombres"
                required>
              <div class="invalid-feedback">
                Por favor ingrese los nombres.
              </div>

              <div id="errornombre" style="color: red">
                {% if data2 %} {{data2}} {% endif %}
              </div>

              <label for="apellidos">Apellidos*</label>
              <input type="text" class="form-control" id="apellidos" name="apellidos"
                placeholder="Ingrese los apellidos" required>
              <div class="invalid-feedback">
                Por favor ingrese los apellidos.
              </div>

              <div id="errorapellido" style="color: red">
                {% if data3 %} {{data3}} {% endif %}
              </div>

              <label for="cedula">Documento*</label>
              <input type="number" class="form-control" id="cedula" name="cedula"
                placeholder="Ingrese el número del documento" required number>
              <div class="invalid-feedback">
                Por favor ingrese el número de documento.
              </div>

              <div id="errordocumento" style="color: red">
                {% if data4 %} {{data4}} {% endif %}
              </div>

              <label for="correo">Correo*</label>
              <input type="email" class="form-control" id="correo" name="correo"
                placeholder="Ingrese el correo electrónico" required email>
              <div class="invalid-feedback">
                Por favor ingrese un correo electrónico valido.
              </div>

              <div id="errorcorreo" style="color: red">
                {% if data5 %} {{data5}} {% endif %}
              </div>

              <label for="rol_crear" class="form-label">Rol*</label>
              <select class="form-select" id="rol_crear" name="rol_crear" required>
                <option value="3">Usuario final</option>
                {% if session.rol == "SuperAdministrador" %}
                <option class="select-crear-admin" value="2">Administrador</option>
                <option class="select-crear-super" value="1">Super Administrador</option>
                {% endif %}
              </select>
              <div class="invalid-feedback">
                Por favor ingrese el rol.
              </div>
              <div id="errorrol" style="color: red">
                {% if data6 %} {{data6}} {% endif %}
              </div>

              <label for="correo">Contraseña*</label>
              <input type="password" class="form-control" id="passw" name="passw" placeholder="Ingrese la contraseña"
                required minlength="6">
              <div class="invalid-feedback">
                Por favor ingrese una contraseña valida de mínimo 6 caracteres.
              </div>

              <div id="errorclave" style="color: red">
                {% if data7 %} {{data7}} {% endif %}
              </div>

            </div>

            <div class="modal-footer">
              <button class="btn btn-primary" type="submit">
                Crear
              </button>
            </div>
          </form>

          {% if error %}
          <script type="text/javascript">
            $("#usuario").val("{{select}}");
          </script>
          {% endif %}

        </div>
      </div>
    </div>
  </div>
  <!-- / Fin Modal Crear -->





</main>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
  integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"
  integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"
  integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-kQtW33rZJAHjgefvhyyzcGF3C5TFyBQBA13V1RKPf4uH+bwyzQxZ6CmMZHmNBEfJ" crossorigin="anonymous"></script>
<script src="{{ url_for('static', filename='js/validacionCrearUsuario.js') }}"></script>
<script>
  $('#modal_crear').on('show.bs.modal', function (event) {
    $('#form_crear').trigger("reset");
  });
</script>
{% endblock content %}