{% extends 'base.html' %}

{% block title %}
  Usuarios
{% endblock title %}

{% block content %}

{% if error %}
<script>
  (function abrirmodal() {
    $(function () {
      // abrir modal
      $("#modal_crear").modal("show");
    });
  })();
</script>
{% endif %}

<main class="container card">
  <div class="table-responsive">
    <h2 class="my-2">Usuarios</h2>
    <div class="row">
      <div class="col-7 d-flex flex-wrap align-items-center mb-1">
        <input aria-label="Busqueda de usuarios" class="form-control col-4 mr-1" type="text" placeholder="Busqueda"
          aria-controls="Buscar">
        <button class="btn btn-primary" id="buscar">Buscar</button>
        <div class="w-100 mt-1">
          <input aria-label="usuario" type="radio" name="tipo_b" value="1" checked>
          Usuario
          <input class="ml-1" aria-label="nombre" type="radio" name="tipo_b" value="2">
          Nombre
        </div>
      </div>
      <div class="col-5 d-flex justify-content-end">
        <div>
          <label for="">Crear Usuario</label>
          <button class="btn btn-primary" id="crear" data-toggle="modal" data-target="#modal_crear">
            <span class="fa fa-user-plus"></span>
          </button>
        </div>
      </div>
    </div>


    <table class="table table-hover">
      <thead>
        <tr>
          <th>Nombre usuario</th>
          <th>Nombres</th>
          <th>Apellidos</th>
          <th>Cedula</th>
          <th>Correo</th>
          <th>Rol</th>
          <th>Fecha creación</th>
          <th>Fecha de vencimiento</th>
          <th colspan="2">Acciones</th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td>MGARCIA</td>
          <td>Manuel</td>
          <td>Garcia</td>
          <td>123456789</td>
          <td>mgarcia@uninorte.edu.co</td>
          <td>Superadministrador</td>
          <td>01-01-2021</td>
          <td> </td>

          <td class="py-1 px-2">
            <button class="btn btn-primary table-buttons" id="editar" data-toggle="modal" data-target="#modal_editar">
              <span class="fas fa-edit p-0"></span>
            </button>
            <button class="btn btn-danger table-buttons" id="eliminar" data-toggle="modal"
              data-target="#modal_eliminar">
              <span class="fa fa-user-times p-0"></span>
            </button>
          </td>
        </tr>

        <tr>
          <td>LCAMPOS</td>
          <td>Lesly</td>
          <td>Campos</td>
          <td>123456789</td>
          <td>lcampos@uninorte.edu.co</td>
          <td>Administrador</td>
          <td>01-01-2021</td>
          <td> </td>
          <td class="py-1 px-2">
            <button class="btn btn-primary table-buttons" id="editar" data-toggle="modal" data-target="#modal_editar">
              <span class="fas fa-edit"></span>
            </button>
            <button class="btn btn-danger table-buttons" id="eliminar" data-toggle="modal"
              data-target="#modal_eliminar">
              <span class="fa fa-user-times p-0"></span>
            </button>
          </td>
        </tr>

        <tr>
          <td>LGOMEZ</td>
          <td>Luis</td>
          <td>Gomez</td>
          <td>123456789</td>
          <td>lgomez@uninorte.edu.co</td>
          <td>Administrador</td>
          <td>01-01-2021</td>
          <td> </td>
          <td class="py-1 px-2">
            <button class="btn btn-primary table-buttons" id="editar" data-toggle="modal" data-target="#modal_editar">
              <span class="fas fa-edit"></span>
            </button>
            <button class="btn btn-danger table-buttons" id="eliminar" data-toggle="modal"
              data-target="#modal_eliminar">
              <span class="fa fa-user-times p-0"></span>
            </button>
          </td>
        </tr>

        <tr>
          <td>JMARTINEZ</td>
          <td>Joshua </td>
          <td>Martinez</td>
          <td>123456789</td>
          <td>jmartinez@uninorte.edu.co</td>
          <td>Administrador</td>
          <td>01-01-2021</td>
          <td> </td>
          <td class="py-1 px-2">
            <button class="btn btn-primary table-buttons" id="editar" data-toggle="modal" data-target="#modal_editar">
              <span class="fas fa-edit"></span>
            </button>
            <button class="btn btn-danger table-buttons" id="eliminar" data-toggle="modal"
              data-target="#modal_eliminar">
              <span class="fa fa-user-times p-0"></span>
            </button>
          </td>
        </tr>

        <tr>
          <td>NDAMS</td>
          <td>Nora </td>
          <td>Dams</td>
          <td>123456789</td>
          <td>ndams@uninorte.edu.co</td>
          <td>Usuario final</td>
          <td>01-01-2021</td>
          <td>07-10-2021</td>
          <td class="py-1 px-2">
            <button class="btn btn-primary table-buttons" id="editar" data-toggle="modal" data-target="#modal_editar">
              <span class="fas fa-edit p-0"></span>
            </button>
            <button class="btn btn-danger table-buttons" id="eliminar" data-toggle="modal"
              data-target="#modal_eliminar">
              <span class="fa fa-user-times p-0"></span>
            </button>
          </td>
        </tr>
      </tbody>

    </table>
  </div>

  <!-- / Inicio Modal Crear -->
  <div class="modal fade" id="modal_crear" nombre="modal_crear" tabindex="-1" role="dialog" aria-labelledby="titulo_crear" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="titulo_crear">Crear Usuario</h5>
          <button type="button" class="btn-close" data-dismiss="modal" aria-label="Cerrar"></button>
        </div>
        <div class="modal-body">
          <form id="form_crear" action="{{url_for('users')}}" method="POST" novalidate>
            <div class="form-group">
              <label class="form-label" for="id">Nombre de usuario*</label>
              <input type="text" class="form-control" id="usuario" name="usuario" placeholder="Nombre de usuario" required>
              
              <input type="hidden" name="oculto" value="crear" />
              
              <div class="invalid-feedback">
                Por favor ingrese el nombre de usuario.
              </div>

              <div id="errorusuario" style="color: red">
                {% if data1 %} {{data1}} {% endif %}
              </div>

              <label for="nombres">Nombres*</label>
              <input type="text" class="form-control" id="nombres" name="nombres" placeholder="Ingrese los nombres" required>
              <div class="invalid-feedback">
                Por favor ingrese los nombres.
              </div>

              <div id="errornombre" style="color: red">
                {% if data2 %} {{data2}} {% endif %}
              </div>

              <label for="apellidos">Apellidos*</label>
              <input type="text" class="form-control" id="apellidos" name="apellidos" placeholder="Ingrese los apellidos" required>
              <div class="invalid-feedback">
                Por favor ingrese los apellidos.
              </div>

              <div id="errorapellido" style="color: red">
                {% if data3 %} {{data3}} {% endif %}
              </div>

              <label for="cedula">Documento*</label>
              <input type="number" class="form-control" id="cedula" name="cedula" placeholder="Ingrese el número del documento"
                required number>
              <div class="invalid-feedback">
                Por favor ingrese el número de documento.
              </div>

              <div id="errordocumento" style="color: red">
                {% if data4 %} {{data4}} {% endif %}
              </div>

              <label for="correo">Correo*</label>
              <input type="email" class="form-control" id="correo" name="correo" placeholder="Ingrese el correo electrónico" required
                email>
              <div class="invalid-feedback">
                Por favor ingrese un correo electrónico valido.
              </div>

              <div id="errorcorreo" style="color: red">
                {% if data5 %} {{data5}} {% endif %}
              </div>

              <label for="rol_crear" class="form-label">Rol*</label>
              <select class="form-select" id="rol_crear" name="rol_crear" required>
                <option value="3">Usuario final</option>
                {% if session.rol == "SuperAdministrador"  %}
                <option class="select-crear-admin" value="2">Administrador</option>
                <option class="select-crear-super" value="1">Super Administrador</option>
                {% endif %}
              </select>
              <div class="invalid-feedback">
                Por favor ingrese el rol.
              </div>
              <div id="errorrol" style="color: red">
                {% if data6 %} {{data6}} {% endif %}
              </div>

              <label for="correo">Contraseña*</label>
              <input type="password" class="form-control" id="passw" name="passw" placeholder="Ingrese la contraseña"
                required minlength="6">
              <div class="invalid-feedback">
                Por favor ingrese una contraseña valida de mínimo 6 caracteres.
              </div>

              <div id="errorclave" style="color: red">
                {% if data7 %} {{data7}} {% endif %}
              </div>

            </div>

            <div class="modal-footer">
              <button class="btn btn-primary" type="submit">
                Crear
              </button>
            </div>
          </form>

          {% if error %}
          <script type="text/javascript">
            $("#usuario").val("{{select}}");
          </script>
          {% endif %}

        </div>
      </div>
    </div>
  </div>
  <!-- / Fin Modal Crear -->

  <!-- Inicio Modal Editar -->
  <div class="modal fade" id="modal_editar" tabindex="-1" role="dialog" aria-labelledby="titulo_crear"
    aria-hidden="true">
    <div class="modal-dialog modal-sm" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="titulo_crear">Editar Usuario</h5>
          <button type="button" class="btn-close" data-dismiss="modal" aria-label="Cerrar"></button>
        </div>
        <div class="modal-body">
          <form id="form_crear" class="row g-3 needs-validation" method="POST" novalidate>
            <div class="form-group">
              <label for="id">Nombre de usuario*</label>
              <input type="text" class="form-control" id="id" placeholder="Nombre de usuario" required>
              <div class="invalid-feedback">
                Por favor ingrese el nombre de usuario.
              </div>

              <label for="nombres">Nombres*</label>
              <input type="text" class="form-control" id="nombres" placeholder="Ingrese los nombres" required>
              <div class="invalid-feedback">
                Por favor ingrese los nombres.
              </div>

              <label for="apellidos">Apellidos*</label>
              <input type="text" class="form-control" id="apellidos" placeholder="Ingrese los apellidos" required>
              <div class="invalid-feedback">
                Por favor ingrese los apellidos.
              </div>

              <label for="cedula">Documento*</label>
              <input type="number" class="form-control" id="cedula" placeholder="Ingrese el número del documento"
                required number>
              <div class="invalid-feedback">
                Por favor ingrese un número de documento solo de números.
              </div>

              <label for="correo">Correo*</label>
              <input type="email" class="form-control" id="correo" placeholder="Ingrese el correo electrónico"
                required email>
              <div class="invalid-feedback">
                Por favor ingrese un correo electrónico valido.
              </div>

              <label for="rol_crear" class="form-label">Rol*</label>
              <select class="form-select" id="rol_crear" required>
                <option value="3">Usuario final</option>
                {% if session.rol == "SuperAdministrador"  %}
                <option class="select-editar-admin" value="2">Administrador</option>
                <option class="select-editar-super" value="1">Super Administrador</option>
                {% endif %}
              </select>
              <div class="invalid-feedback">
                Por favor ingrese el rol.
              </div>
            </div>

            <div class="modal-footer">
              <button class="btn btn-primary" type="submit">
                Editar
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- /Fin Modal Editar -->
  <div class="modal fade" id="modal_eliminar" tabindex="-1" role="dialog" aria-labelledby="titulo_eliminar"
    aria-hidden="true">
    <div class="modal-dialog modal-sm" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 id="titulo_eliminar">Eliminar Usuario</h5>
          <button type="button" class="btn-close" data-dismiss="modal" aria-label="Cerrar"></button>
        </div>
        <div class="modal-body">
          <div>
            <div>
              <label for="">¿Está seguro que desea eliminar el usuario?</label>
            </div>

            <div class="modal-footer">
              <button class="btn btn-primary" type="button" id="si">
                SI
              </button>
              <button class="btn btn-secondary" type="button" id="no">
                NO
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</main>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
  integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"
  integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"
  integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js"
integrity="sha384-kQtW33rZJAHjgefvhyyzcGF3C5TFyBQBA13V1RKPf4uH+bwyzQxZ6CmMZHmNBEfJ" crossorigin="anonymous"></script>
<script src="{{ url_for('static', filename='js/validacionCrearUsuario.js') }}"></script>
<script>
  $('#modal_crear').on('show.bs.modal', function (event) {
    $('#form_crear').trigger("reset");
  });
</script>
{% endblock content %}
