<div class="col-md-3 d-flex align-items-end">
  <span class="mr-1" style="margin-bottom: 10px">Crear producto</span>
  <button
    type="button"
    id="abrirmodalnuevo"
    class="btn btn-primary align-self-end btn-crear"
    data-bs-toggle="modal"
    data-bs-target="#modalNew"
    title="Crear Nuevo Producto"
  >
    <i class="fas fa-plus"></i>
  </button>
</div>

<div
  class="modal fade"
  id="modalNew"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
  name="modalNew"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Crear Producto</h5>

        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <form
        id="formulariocrearprod"
        method="post"
        action="{{url_for('productos')}}"
        class="needs-validation"
        novalidate
      >
        <div class="modal-body">
          <div class="form-group">
            <input type="hidden" name="oculto" value="crear" />

            <label for="codigoproducto">Codigo*</label>
            <input
              type="text"
              class="form-control"
              id="codigoproducto"
              placeholder="Codigo"
              required
              name="codigoproducto"
            />
            <div id="errorcodprod" style="color: red">
              {% if data4 %} {{data4}} {% endif %}
            </div>
            <div class="invalid-feedback">
              Por favor ingrese el código del producto.
            </div>

            <label for="nombreproducto">Nombre*</label>
            <input
              type="text"
              class="form-control"
              id="nombreproducto"
              placeholder="Nombre"
              required
              name="nombreproducto"
            />

            <div id="errornomprod" style="color: red">
              {% if data1 %} {{data1}} {% endif %}
            </div>
            <div class="invalid-feedback">
              Por favor ingrese el nombre del producto.
            </div>
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Descripcion*</label>
            <textarea
              class="form-control"
              id="descripcionprod"
              placeholder="Descripcion"
              required
              name="descripcionprod"
            ></textarea>
            <div id="errordescripcion" style="color: red">
              {% if data2 %} {{data2}} {% endif %}
            </div>
            <div class="invalid-feedback">
              Por favor ingrese la descripción.
            </div>
          </div>
          <div class="form-group">
            <label for="menuproveedor">Proveedores*</label>
            <select
              class="custom-select"
              id="menuproveedor"
              required
              name="menuproveedor"
            >
              <option selected disabled value="">Seleccione</option>
              {%for proveedor in proveedores%}
              <option value="{{proveedor.0}}">{{proveedor.1}}</option>
              {% endfor %}
            </select>
            <div id="errorproveedor" style="color: red">
              {% if data3 %} {{data3}} {% endif %}
            </div>
            <div class="invalid-feedback">
              Por favor seleccione un proveedor.
            </div>
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Cant. Minima*</label>
            <input
              type="number"
              class="form-control"
              id="cantminima"
              placeholder="Cant. Minima"
              min="1"
              name="cantminima"
            />
            <div id="errorcantmin"></div>
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Existencia*</label>
            <input
              type="number"
              class="form-control"
              id="cantexistencia"
              placeholder="Existencia"
              min="1"
              name="cantexistencia"
            />
            <div id="errorexistencia"></div>
          </div>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Cancelar
          </button>
          <button
            type="submit"
            class="btn btn-primary"
            onclick="Javascript:fnt_create_product_validate()"
          >
            Crear Producto
          </button>
        </div>
      </form>
      {% if error %}
      <script type="text/javascript">
        $("#nombreproducto").val("{{nombre}}");
        $("#descripcionprod").val("{{descripcion}}");
        $("#menuproveedor").val("{{select}}");
        $("#codigoproducto").val("{{codigo}}");
      </script>
      {% endif %}
    </div>
  </div>
</div>
