<div
        class="col-sm-12 col-md-6 d-flex align-items-center justify-content-end"
      >
        <label for="crear" class="form-label mr-1">Crear Proveedores</label>
        <button
          class="btn btn-primary"
          id="crear"
          data-toggle="modal"
          data-target="#modal_crear"
        >
          <span class="fa fa-plus"></span>
        </button>
</div>


  <!-- Modal crear -->
  <div
    class="modal fade"
    id="modal_crear"
    nombre="modal_crear"
    tabindex="-1"
    role="dialog"
    aria-labelledby="titulo_crear"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-sm" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="titulo_crear">Crear Proveedor</h5>
          <button
            type="button"
            class="btn-close"
            data-dismiss="modal"
            aria-label="Cerrar"
          ></button>
        </div>
        <div class="modal-body">
          <form
            id="form_crear"
            method="POST"
            action="{{url_for('providers')}}"
            class="row g-3 needs-validation"
            novalidate
          >
            <input type="hidden" name="oculto" value="crear" />
            <div class="col-12 my-1">
              <label for="">ID Proveedor*</label>
              <input
                type="number"
                class="form-control"
                id="id"
                name="id"
                placeholder="ID Proveedor"
                required
                number
              />
              <input type="hidden" name="oculto" value="crear" />
              <div class="invalid-feedback">
                Por favor digite el ID del proveedor
              </div>
            </div>
            <div id="errorIdproveedor" style="color: red">
              {% if data1 %} {{data1}} {% endif %}
            </div>

            <div class="col-12 mb-1">
              <label for="">Nombre*</label>
              <input
                type="text"
                class="form-control"
                id="nombre"
                name="nombre"
                placeholder="Nombre"
                required
              />
              <div class="invalid-feedback">Por favor digite un Nombre</div>
            </div>
            <div id="errorNombres" style="color: red">
              {% if data2 %} {{data2}} {% endif %}
              <label for="">Correo*</label>
              <input
                type="email"
                class="form-control"
                id="correo"
                name="correo"
                placeholder="Email"
                required
                email
              />
              <div class="invalid-feedback">
                Por favor digite un correo válido
              </div>
            </div>
            <div id="errorcorreo" style="color: red">
              {% if data3 %} {{data3}} {% endif %}
              <label for="">Teléfono*</label>
              <input
                type="number"
                class="form-control"
                id="telefono"
                name="telefono"
                placeholder="Teléfono"
                required
                number
              />
              <div class="invalid-feedback">Por favor digite un teléfono</div>
            </div>
            <div id="errortelefono" style="color: red">
              {% if data4 %} {{data4}} {% endif %}
              <label for="">Dirección*</label>
              <input
                type="text"
                class="form-control"
                id="direccion"
                name="direccion"
                placeholder="Dirección"
                required
              />
              <div class="invalid-feedback">Por favor digite la dirección</div>
            </div>
            <div id="errordireccion" style="color: red">
              {% if data5 %} {{data5}} {% endif %}
              <label for="">Pais*</label>
              <select
                class="custom-select"
                id="menupais"
                required
                name="menupais"
              >
                <option selected disabled value="">Seleccione</option>
                {%for i in pais%}
                <option value="{{i.0}}">{{i.1}}</option>
                {% endfor %}
              </select>
              <div class="invalid-feedback">Por favor digite el país</div>
            </div>
            <div id="errorpais" style="color: red">
              {% if data6 %} {{data6}} {% endif %}
            </div>

            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
              <button class="btn btn-primary" type="submit">Crear Proveedor</button>
            </div>
          </form>

          {% if error %}
          <script type="text/javascript">
            $("#id").val("{{id}}");
            $("#nombre").val("{{nombre}}");
            $("#correo").val("{{correo}}");
            $("#telefono").val("{{telefono}}");
            $("#direccion").val("{{direccion}}");
            $("#menupais").val("{{pais}}");
          </script>
          {% endif %}

        </div>
      </div>
    </div>
</div>
  <!-- Fin modal -->
