<button class="btn btn-primary table-buttons" id="editar" data-toggle="modal"
data-target="#modal_editar-{{proveedor.0}}">
<span class="fas fa-edit"></span>
</button>

<!-- / Inicio Modal Editar -->

<div class="modal fade" id="modal_editar-{{proveedor.0}}" tabindex="-1" role="dialog" aria-labelledby="titulo_editar"   
    aria-hidden="true">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 id="titulo_editar">Editar Proveedor</h5>
                <button class="btn-close" data-dismiss="modal" aria-label="Cerrar"></button>
                </div>
                    <div class="modal-body">
                        <form id="form_editar" method= "POST" class="needs-validation" action="{{url_for('providers')}}" novalidate >
                            <div class="form-group">
                                <div class="col-12 my-1">
                                    <label for="">ID Proveedor*</label>
                                    <input type="text" class="form-control" id="id" placeholder="ID Proveedor" value="{{proveedor.0}}" name="id" disabled>
                                
                                </div>
                                    <input type="hidden" name="oculto" value="editar">
                                    <input type="hidden" name="oculto2" value="{{proveedor.0}}">

                                <div class="col-12  mb-1">
                                    <label for="">Nombre*</label>
                                    <input type="text" class="form-control" id="nombre" placeholder="Nombre" value="{{proveedor.1}}" name="nombre" required>
                                    <div class="invalid-feedback">
                                        Por favor digite un Nombre
                                    </div>
                                    <div id="errornombre2" style="color: red">
                                        {% if data12 %} {{data12}} {% endif %}
                                    </div>

                                </div>

                                <div class="col-12 mb-1">
                                    <label for="">Correo*</label>
                                    <input type="email" class="form-control" id="correo" placeholder="Email" value="{{proveedor.2}}" name="correo" required email>
                                    <div class="invalid-feedback">
                                        Por favor digite un correo válido
                                    </div>
                                    <div id="errorcorreo2" style="color: red">
                                        {% if data22 %} {{data22}} {% endif %}
                                    </div>
                                </div> 

                                <div class="col-12 mb-1">
                                    <label for="">Teléfono*</label>
                                    <input type="text" class="form-control" id="telefono" placeholder="Teléfono" value="{{proveedor.4}}" name="telefono" required number>
                                    <div class="invalid-feedback">
                                        Por favor digite un teléfono 
                                    </div>
                                    <div id="errortelefono2" style="color: red">
                                        {% if data32 %} {{data32}} {% endif %}
                                    </div>
                                </div>

                                <div class="col-12 mb-1">
                                    <label for="">Dirección*</label>
                                    <input type="text" class="form-control" id="direccion" placeholder="Dirección" value="{{proveedor.3}}" name="direccion" required>
                                    <div class="invalid-feedback">
                                        Por favor digite la dirección 
                                    </div>
                                    <div id="errordireccion2" style="color: red">
                                        {% if data42 %} {{data42}} {% endif %}
                                    </div>
                                </div>

                                <div class="col-12 mb-1">
                                    <label for="">Pais*</label>
                                    <div>
                                    <select
                                        class="custom-select"
                                        id="menupais"
                                        required
                                        name="menupais"
                                    >
                                        {%for i in pais%}
                                        <option value="{{i.0}}">{{i.1}}</option>
                                        {% endfor %}
                                    </select>
                                    </div>
                                    <div class="invalid-feedback">
                                        Por favor digite el país
                                    </div>
                                    <div id="errorpais2" style="color: red">
                                        {% if data52 %} {{data52}} {% endif %}
                                    </div>
                                </div>
                                
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                                    <button class="btn btn-primary" type="submit">
                                        Editar
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
        </div>

    </div>
</div>


