<button
    class="btn btn-danger table-buttons"
    id="eliminar"
    data-toggle="modal"
    data-target="#modal_eliminar-{{proveedor.0}}"
>
    <span class="fas fa-trash-alt"></span>
</button>

<!-- / Inicio Modal Eliminar -->

<div
    class="modal fade"
    id="modal_eliminar-{{proveedor.0}}"
    tabindex="-1"
    role="dialog"
    aria-labelledby="titulo_eliminar"
    aria-hidden="true"
>
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 id="titulo_eliminar">Eliminar Proveedor</h5>
                <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
                ></button>
            </div>
            <form
            id="borrarproveedor"
            action="{{url_for('providers')}}"
            method="POST"
            >
                <input type="hidden" name="oculto" value="eliminar" />
                <input
                    type="hidden"
                    name="ocultoborrar"
                    value="{{proveedor.0}}"
                />
                <div class="modal-body">
                    <p class="text-center">
                    ¿Está seguro que desea eliminar el proveedor?
                    </p>
                    <p class="text-center fw-bold">{{proveedor.1}}</p>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" type="submit" id="si">
                    SI
                    </button>
                    <button
                    class="btn btn-secondary"
                    type="button"
                    id="no"
                    class="close"
                    data-dismiss="modal"
                    aria-label="Cerrar"
                    >
                    NO
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Final modal eliminar -->