<button
                  href="{{producto.0}}"
                  class="btn btn-danger table-buttons"
                  data-bs-toggle="modal"
                  data-bs-target="#modalDelete-{{producto.0}}"
                >
                <i class="fa fa-trash"></i>
                </button>



                <!-- Modal Eliminar -->
                <div
                  class="modal fade"
                  id="modalDelete-{{producto.0}}"
                  tabindex="-1"
                  aria-labelledby="exampleModalLabel"
                  aria-hidden="true"
                >
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">
                          Eliminar producto
                        </h5>
                        <button
                          type="button"
                          class="btn-close"
                          data-bs-dismiss="modal"
                          aria-label="Close"
                        ></button>
                      </div>
                      <form
                      id="borrarproducto"
                      action="{{url_for('productos')}}"
                      method="POST"
                      >
                      <input type="hidden" name="oculto" value="eliminar">
                      <input type="hidden" name="ocultoborrar" value="{{producto.0}}">
                      <div class="modal-body">
                        ¿Está seguro de eliminar este producto?
                      </div>
                      <div class="modal-footer">
                        <button
                          type="button"
                          class="btn btn-secondary"
                          data-bs-dismiss="modal"
                        >
                          Cancelar
                        </button>
                        <button
                          type="submit"
                          class="btn btn-primary""
                        >
                          Eliminar Producto
                        </button>


                      </div>
                      </form>
                    </div>
                  </div>
                </div>